@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-hanken-grotesk: "Hanken Grotesk", "sans-serif";

    --text-2xs: 0.625rem;

    --color-black: oklch(29.3% 0.066 243.157);
    --color-white: oklch(97.7% 0.013 236.62);
}

